.title{
  text-align: center;
  margin: 10px;
}

.model{
  margin-top: 80px;
}

.title2{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
  width: 100%;
}

.container{
  background-color: transparent;
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
  padding: 0px; 
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: top; */
  padding: 5px;
  align-items: auto;

}

.leftsection{
  flex: 7; /* Ocupa el 70% del ancho */
  background-color: rgba(255, 255, 255, 0.5); /* Color de fondo para visualización */
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  border: black 1px solid;
}

.rightsection{
  flex: 3; /* Ocupa el 70% del ancho */
  background-color: white; /* Color de fondo para visualización */
  border: black 1px solid;
  padding: 10px;
}

.infocliente{
  align-items: left;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 30px;
  width: 100%;
  display: block;
}

.containerother{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
    gap: 10px;
}

.containerlist{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: auto;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-right: 20px;
}

.label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: black;
}

.inputPedido {
  padding: 5px;
  font-size: 1.1rem;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.inputPedido:focus {
  border-color: #ff6f00;
  box-shadow: 0 0 0 3px rgba(255, 111, 0, 0.2);
  outline: none;
}

.inputPedido::placeholder {
  color: #aaa;
  font-style: italic;
}
